{%- assign section_title = include.title | default: '' -%}
{%- assign profiles = include.profiles -%}

{% if profiles %}
  {% if section_title != '' %}
    <h2>{{ section_title }}</h2>
  {% endif %}

  {% for profile in profiles %}
    <hr>
    <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if profile.image %}
        {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
        {% if profile.image_circular %}
          {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
        {% else %}
          {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
        {% endif %}
        {% capture sizes %}
(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3 }}px,
(min-width: 576px) 30vw, 95vw"
        {% endcapture %}
        {% include figure.liquid
           loading="eager"
           path=profile_image_path
           class=profile_image_class
           sizes=sizes
           alt=profile.image %}
      {% endif %}

      {% if profile.more_info %}
        <div class="more-info">{{ profile.more_info }}</div>
      {% endif %}
    </div>

    <div class="clearfix">
      {% if profile.content %}
        {%- comment -%}
        Content files like about_paul_calle.md live alongside the page
        that uses this layout (e.g. in _pages/), so we use include_relative.
        {%- endcomment -%}
        {% capture profile_content %}
          {% include_relative {{ profile.content }} %}
        {% endcapture %}
        {{ profile_content | markdownify }}
      {% else %}
        {{ include.content_fallback }}
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
