---
layout: page
---

<div class="post">
  <article>
    {% if page.profiles %}
      {% include profiles_section.html
         title="Current members"
         profiles=page.profiles
         content_fallback=content %}
    {% endif %}

    {% if page.alumni %}
      {% include profiles_section.html
         title="Alumni"
         profiles=page.alumni
         content_fallback=content %}
    {% endif %}
  </article>
</div>
